@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-color: #ff7300;
  --swiper-pagination-bullet-inactive-color: #ff7300;
  --swiper-pagination-padding: #ff7300;
}
.swiper-button-next,
.swiper-button-prev {
  color: #ff7300 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background-color: #ffffff;
  color: #171717; 
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212; 
  color: #ffffff;
}

@layer base {
  body {
    transition: background-color 0.3s, color 0.3s;
  }

  .dark body {
    background-color: #121212;  
    color: white;  
  }
}
