@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;



  --swiper-pagination-color:#ff7300 ;
  --swiper-pagination-bullet-inactive-color: #ff7300;

}
.swiper-button-next,
.swiper-button-prev {
  color: #ff7300 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #171717;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

